
/* **************************** */
/* below 1344px(smaller desktops) */

@media (max-width: 84em){
    .hero{
        max-width: 120rem;
        background-color: red;
    }
    .primary-heading{
        font-size: 2.6rem;
    }
    .hero-description{
        font-size: 1.2rem;
    }
    .gallery-item{
        grid-template-columns: repeat( 2, 1fr);
    }
}

/* **************************** */
/* below 1200px(landscape tablets) */
/* 9px/16px 56.6% */
@media (max-width: 75em){
    html{
        /* font-size:56% ; */
    }
    .grid{
        column-gap: 2.4rem;
        row-gap: 5rem;
    }
    .secondary-heading{
        font-size: 2rem;
    }
    .heading-tertiary{
        font-size: 1.5rem;
    }
    .header{
        padding: 0 3rem;
    }
    .hero{
        gap: 3rem;
    }
    .main-nav-list{
        gap: 2rem;
    }
    .testimonial-container{
        padding: 4.3rem 2rem;
    }
}

/* **************************** */
/* below 944px(tablets) */
@media (max-width: 59em) {
    .main-nav-list:first-child{
        /* gap: 2rem; */
        margin-left: 2rem;
    }
    .hero{
        grid-template-columns: 1fr;
        padding: 0 8rem;
        gap: 4rem;
    }
    .hero-text-box,
    .hero-img-box{
        text-align: center;
    }
    .hero-img{
        width: 60%;
    }
    .delivered-meals{
        justify-content: center;
        margin-top: 2rem;
    }
    .logo{
        height: 1rem;
    }
    .step-number{
        font-size: 4rem;
    }
    .meal-content{
        padding: 2.4rem 3.2rem 3.2rem 3.2rem ;
    }
    .testimonial-section{
        grid-template-columns: 1fr;
    }
    .gallery-item{
        grid-template-columns: repeat(6, 1fr);
    }
    .cta{
        grid-template-columns: 3fr 2fr;
    }
    .cta-form{
        grid-template-columns: 1fr;
    }
    .btn-form{
        margin-top: 1.2rem;
    }
     /* mobile navigtion */
     .btn-mobile-nav{
            display: block;
    }
}

/* **************************** */
/* below 944px(mobile) */
/* menu bar */
.
